<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Http name="Seq" url="http://seq-service.default.svc.cluster.local:5341/api/events/raw?clef">
            <Property name="Content-Type">application/vnd.serilog.clef</Property>
            <JsonTemplateLayout eventTemplateUri="classpath:SeqClefLayout.json"/>
        </Http>

    </Appenders>

    <Loggers>
        <Logger name="dev.hialt.foxwatch" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Seq"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>